{% extends 'bootstrap/base.html' %}
{% block head %}
    {{ super() }}
    <title>
        {% block title %}
            Biblioteca Web App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="../static/style/style.css">
{% endblock %}

{% block body %}
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}

    {% block content %}
    <table class="table table-hover">
        <tr>
            <td scope="col">Id de autor</td>
            <td scope="col">Nombre del autor</td>
            <td scope="col">Apellido del autor </td>
            <td scope="col">Pais de origen</td>
        </tr>
        {% for autor in datos %}
        <tr>
            <td>{{ autor[0] }}</td>
            <td>{{ autor[1] }}</td>
            <td>{{ autor[2] }}</td>
            <td>{{ autor[3] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endblock %}
{% endblock %}