{% extends 'bootstrap/base.html' %}
{% block head %}
    {{ super() }}
    <title>
        {% block title %}
            Biblioteca Web App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="../static/style/style.css">
{% endblock %}

{% block body %}
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}

    {% block content %}
        <p> YA NO AGUANTOO YA NO AGUANTOO </p>
        <div class="container-md">
        <img src="../static/assets/portada (2).jpg" alt="Libros">
        </div>
    {% endblock %}

{% endblock %}