<nav class="navbar navbar-inverse mi-nav" role="navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{url_for('index')}}">BibliotecaX</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">

          <a class="nav-link active" aria-current="page" href="#">Iniciar Sesión </a>

          <a class="nav-link" href="{{url_for('libros')}}">Libros </a>


          <a class="nav-link" href="{{url_for('autores')}}">Autores </a>

          <a class="nav-link" href="{{url_for('paises')}}">Paises </a>
          <a class="nav-link" >Editoriales </a>
      </div>
    </div>
  </div>
</nav>